
#Ignore these
hello-django.py
code-various/mysite/*

FII-SI/**/word_dict.txt
FII-SI/test/*
FII-SI/**/*.zip
FII-SI/exe1/*
FII-SI/exe2/*

# Ignore data files
**/safe_*
**/safe/*

# Ignore compiled
**/*.bin
**/node_modules/*
**/.ipynb_checkpoints/*

