
#Ignore these
hello-django.py
code-various/mysite/*

FII-SI/**/word_dict.txt
FII-SI/hw1/test/*
FII-SI/**/*.zip
FII-SI/hw1/exe1/*
FII-SI/hw1/exe2/*
FII-year3sem1-NET/*

# Ignore data files
**/safe_*
**/patch_*
**/safe/*
**/vendor/*

# Ignore compiled
**/*.bin
**/node_modules/*
**/bower_components/*
**/.ipynb_checkpoints/*

